<section class="about">
  <div class="about-content hero is-fullheight">
    <div class="about-container">
      <div class="about-container-who">
        <div class="about-container-who-profile">
          <div class="profile">
            <div class="about-container-who-profile-face">
              <img src="assets/me.jpg" alt="">
            </div>
            <div class="social-media">
              <a href="https://www.linkedin.com/in/cristian-andres-arrieta-gutierrez-74a496b5" target="_blank">
                <fa-icon class="" [icon]="faLinkedin"></fa-icon>
              </a>
              <a href="https://www.linkedin.com/in/cristian-andres-arrieta-gutierrez-74a496b5/" target="_blank">
                <fa-icon class="" [icon]="faWhatsapp"></fa-icon>
              </a>
            </div>
          </div>
          <div class="about-container-who-profile-content">
            <h1>Cristian Arrieta</h1>
            <h3>Full Stack Developer / Javascript Lover <fa-icon class="" [icon]="faHeart"></fa-icon>
            </h3>
            <p>Software developer with more than +4 years of experience in web apps development.
              I'm a team player and I'm always learning about new technologies and constantly
              improving my skills in order to do my best in each project I'm part.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>