
<main class="menuAdjust">
    <nav class="menu">
        <ul class="menu-main">
            <li class="menu-main-item" [routerLinkActive]="['active']" routerLink="/home">
                <span class="menu-main-item-ani"></span>
                <fa-icon class="" [icon]="homeIcon"></fa-icon>
                <span class="text">Home</span>
            </li>
            <li class="menu-main-item" [routerLinkActive]="['active']" routerLink="/about">
                <span class="menu-main-item-ani"></span>
                <fa-icon class="" [icon]="accountIcon"></fa-icon>
                <span class="text">About</span>
            </li>
            <li class="menu-main-item" [routerLinkActive]="['active']" routerLink="/my-work">
                <span class="menu-main-item-ani"></span>
                <fa-icon class="" [icon]="proyectsIcon"></fa-icon>
                <span class="text">My Work</span>
            </li>
            <li class="menu-main-item" [routerLinkActive]="['active']" routerLink="/contact">
                <span class="menu-main-item-ani"></span>
                <fa-icon class="" [icon]="contactIcon"></fa-icon>
                <span class="text">Contact</span>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</main>
<div class="starContainer">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
</div>