<section class="home">
    <div class="home-content hero is-fullheight">
        <div class="home-container">
            <div class="home-container-who">
                <h1>Hi <br> I'm Cristian <br>Web Developer</h1>
                <p>Full Stack Developer / Javascript Lover <fa-icon class="" [icon]="faHeart"></fa-icon>  </p>
            </div>
            <div class="home-container-image">
                <svg class="cube" viewBox="0 0 300 230" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                      <g id="cube" class="cube-unit">
                        <rect width="21" height="24" fill="#01f8c1" stroke="#0079ad" transform="skewY(30)"/>
                        <rect width="21" height="24" fill="#008bc7" stroke="#0079ad" transform="skewY(-30) translate(21 24.3)"/>
                        <rect width="21" height="21" fill="#01f8c1" stroke="#0079ad" transform="scale(1.41,.81) rotate(45) translate(0 -21)"/>
                      </g>
                    </defs>
                    <use  xlink:href="#cube" x="121" y="112"/>
                    <use xlink:href="#cube" x="100" y="124"/>
                    <use xlink:href="#cube" x="142" y="124"/>
                    <use class="m-down" xlink:href="#cube" x="121" y="136"/>
                    <use xlink:href="#cube" x="79" y="136"/>
                    <use xlink:href="#cube" x="163" y="136"/>
                    <use xlink:href="#cube" x="142" y="148"/>
                    <use xlink:href="#cube" x="100" y="148"/>
                    <use xlink:href="#cube" x="121" y="160"/>

                    <use xlink:href="#cube" x="121" y="88"/>
                    <use class="m-left" xlink:href="#cube" x="100" y="100"/>
                    <use class="m-right"  xlink:href="#cube" x="142" y="100"/>
                    <use xlink:href="#cube" x="121" y="112"/>
                    <use xlink:href="#cube" x="79" y="112"/>
                    <use xlink:href="#cube" x="163" y="112"/>

                    <use class="m-right"  xlink:href="#cube" x="142" y="124"/>
                    <use class="m-left" xlink:href="#cube" x="100" y="124"/>
                    <use xlink:href="#cube" x="121" y="136"/>
                    <use xlink:href="#cube" x="121" y="64"/>
                    <use xlink:href="#cube" x="100" y="76"/>
                    <use xlink:href="#cube" x="142" y="76"/>

                    <use class="m-up" xlink:href="#cube" x="121" y="88"/>
                    <use xlink:href="#cube" x="79" y="88"/>
                    <use xlink:href="#cube" x="163" y="88"/>
                    <use xlink:href="#cube" x="142" y="100"/>
                    <use xlink:href="#cube" x="100" y="100"/>
                    <use xlink:href="#cube" x="121" y="112"/>
                  </svg>
            </div>
        </div>
      </div>
</section>
